<% provide(:title, "ハビタイズとは")%>
<h1>ハビタイズとは？</h1>
<p>「ハビタイズ」とは“習慣化”です。何かを成し遂げるには、日々の積み上げが重要ですよね。皆さんが持っている身につけたいスキルや治したい悪い習慣、健康や食生活の改善には日々の管理が重要です。当サービスはそう言った管理をお手伝いすることを目的としています。ご活用頂ければ幸いです。ご意見等もお待ちしております。「お問い合わせ」よりメールにてご連絡ください。</p>
