<% provide(:title, "ヘルプ")%>
<h1>ヘルプ</h1>
<h2>FAQ よくある質問</h2>
<ul>
  <li><b>アカウント有効化のメールが来ない。</b><p>→大変恐れ入りますが<a href="mailto:z.kimura@i-noh.com">こちらに空メール</a>をお送りください。当方にて有効化させて頂きます。</p></li>
  <li><b>パスワード再設定フォームのメールが来ない。</b><p>→大変恐れ入りますが再度「パスワードを忘れた場合はこちら」より進んでください。</p></li>
  <li><b>ToDoリストの日付登録ができない。</b><p>→HabitizeはGoogle Chrome専用のアプリとさせて頂いております。恐れ入りますがブラウザを変更してご利用ください。</p></li>
  <li><b>リマインダメールはいつ来るの？</b><p>→「リマインダメールを送信」にチェックを入れて頂いたToDoリストは、当日の朝にまとめてメールでリマインドさせて頂きます。 </p></li>
  <li><b>画像の変更にはWordPressのアカウントが必要なの？</b><p>→画像はGravatarサービスを経由して表示しております。<a href="https://ja.gravatar.com/" target="_blank">Gravatarサービス</a>をご利用頂くためにはWordPressのアカウントが必要になります。 </p></li>
</ul>

<p>その他、ご不明点・バグのご報告につきましては<a href="mailto:z.kimura@i-noh.com">こちらにメール</a>をお送りください。</p>