<div class="jumbotron">
<h1>Habitize</h1>
<h2>毎日の積み上げができる自分になるために</h2>
<%= link_to "新規登録", "#", class: "btn btn-lg btn-success" %>
</div>
<%= link_to image_tag("wadachi_2_icon.jpg", alt:"wadachi_2_icon.jpg"), "http://www.i-noh.com"%>