<h1>Habitize</h1>

<p><%= @user.email[/[a-z\d\w\-.]+/,0] %>さん</p>

<p>パスワード再設定フォームのリンクを送付します。<br>
下のリンクをタップ/クリックして、パスワードを変更してください。</p>

<%= link_to "パスワード再設定フォーム", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>パスワードの再設定はこのメールを受け取ってから、2時間以内に実施してください。<br>
このリンクは2時間で無効になります。</p>

<p>本メールにお心当たりのない場合は、このメールを破棄して頂きますようお願いします。</p>
